@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0px;
  margin: 0px;
  background-color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.app {
  color: #797979;
}
