.mainBox {
  margin: 40px 50px;
}

input,
input:focus {
  outline: none;
  border: none;
}

.customInput {
  display: flex;
  width: 280px;
  height: 30px;
  border: 1px solid #2d333a;
  border-radius: 4px;
  padding: 6px 15px;
  background-color: #16191d;
}

.inputField {
  flex-grow: 1;
  align-self: center;
  color: #fff;
  background-color: #16191d;
}

.icon-box {
  align-self: center;
  padding: 5px;
  display: block;
  background-color: #16191d;
}

.icon {
  background-color: #16191d;
}

.icon-box:hover {
  cursor: pointer;
}

.placeholder {
  background-color: #16191d;
  color: #797979;
}

.singleSelect,
.multiSelect {
  background-color: #1a2128;
  height: auto;
  width: 310px;
  color: #fff;
  margin-top: 10px;
  border-radius: 4px;
  padding: 10px 0px;
}

.singleItem {
  padding: 5px 10px;
  background-color: #1a2128;
}

.singleItem:hover,
.singleItem:active {
  background-color: #6074de;
  cursor: pointer;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  padding: 10px 35px 10px 45px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #1e2126;
}

.container:hover {
  background-color: #2d2e33;
}

.customCheckBox {
  position: absolute;
  top: 12px;
  left: 20px;
  height: 14px;
  width: 14px;
  border-radius: 4px;
  background-color: #1e2126;
  border: 1px solid #383a41;
}

.container:hover input ~ .customCheckBox {
  background-color: #6074de;
}

/* When the checkbox is checked, add a blue background */
.container input[type="checkbox"]:checked ~ .customCheckBox {
  background-color: #6074de;
}

/* Create the checkmark/indicator (hidden when not checked) */
.customCheckBox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .customCheckBox:after,
.container:hover input ~ .customCheckBox:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .customCheckBox:after {
  left: 4.5px;
  top: 1px;
  width: 3px;
  height: 6px;
  border: solid #fff;
  border-width: 0 2.5px 2.5px 0;
  border-radius: 2px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.selectedList {
  display: flex;
  background-color: #16191d;
}

.selectedItem {
  display: flex;
  padding: 2px 8px;
  border-radius: 4px;
  margin-right: 8px;
  background-color: rgba(196, 196, 196, 20%);
}

.selectedText {
  background-color: transparent;
}

.selectedItem .icon {
  align-self: center;
  padding-left: 6px;
  font-size: 12px;
  background-color: transparent;
}
.selectedItem .icon:hover {
  cursor: pointer;
}
